@charset "utf-8";

html,body,h1{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#container{
    height: 100%;
    width: 100%;
    /*  */
    position: relative;
}
.border{
    height: 400px;
    width: 400px;
    text-align: center;
    /* background-color: gainsboro; */
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border: 1px solid #666;
    border-radius: 5px;
}
.welcome{
    height: 80px;
    width: 400px;
    /* background-color: #fff; */
    background-color: gainsboro;
    line-height: 80px;
    border: 1px solid #666;
}
#login{
    position: relative;
    top:10%;
}
#login > input,#register > input{
    height: 30px;
    width: 260px;
    margin: 5px;
    border-radius: 5px;
    /* border: 1px solid black; */
    border: 1px solid #666;
    text-indent: 5px;
}
#login > span{
    position: relative;
    left: -70px;
    /* top:-5px; */
    color: red;
    font-size: 14px;
    display: none;
}
#register{
    position: relative;
    top:14%;
}


